<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whombang.app">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 外存储写权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 读取手机信息权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许程序改变网络连接状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 获取当前wifi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 配置权限，用来记录应用配置信息 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 读取网络信息状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 读取联系人权限，上传联系人需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 外存储读权限，构建语法需要用到此权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d69640a56e82b4e6dd8a7c3e51149a73" />

        <activity
            android:name=".LauncherActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".features.MainActivity" />
        <activity android:name=".features.sendtask.VoiceActivity" />
        <activity android:name=".features.sendtask.TextTaskActivity" />
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->

        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".features.sendtask.StationServiceActivity"
            android:label="@string/title_activity_station_service"
            android:theme="@style/AppTheme" />
        <activity android:name=".features.shop.activity.CommodityDetailsActivity" />
        <activity android:name=".features.mycenter.activity.NewlyAddressActivity" />
        <activity android:name=".features.mycenter.activity.AddressManagerActivity" />
        <activity android:name=".features.mycenter.activity.MyOrderActivity" />
        <activity android:name=".features.mycenter.activity.ShopOrderActivity" />
        <activity android:name=".features.mycenter.activity.MyEvaluateActivity" />
        <activity android:name=".features.mycenter.activity.StationActivity" />
        <activity android:name=".features.mycenter.activity.UserInformationActivity" />
        <activity android:name=".features.mycenter.activity.AboutActivity" />
        <activity android:name=".features.mycenter.activity.CommonSettingActivity" />
        <activity android:name=".features.login.LoginActivity" />
        <activity android:name=".features.login.RegisterActivity" />
        <activity android:name=".features.sendtask.ServicePhoneActivity" />
        <activity android:name=".features.GuideActivity" />
        <activity android:name=".features.login.ForgetActivity"></activity>
    </application>

</manifest>